h2{
    font-weight: 500;
    font-size: 1.9rem;
}

.formQuestion{
    width: 100%;
    height: 150px;
    padding: 7px;
    margin-top: 12px;
    display: block;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.formQuestion:focus{
    border: 1px solid  #337ab7;
}

.count-text{
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 10px;
}